@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Jokes Application</a>.</p>
    <p>Best site for Humour and jokes</p>
    <p><b>@ViewBag.Message</b></p>
</div>
